.footer{
    position: fixed;
    inset: auto auto 2em 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;

    img{
        cursor: pointer;
        width: 3.5em;
    }



    @include media("<tablet"){
        inset: auto auto 1em 1em;
        img{
            width: 2em;
        }
    }

}