@import "./globalVariables.scss";
.project1 ,
.project2 ,
.project3 ,
.project4{
  
  img{
    pointer-events: none;
  }
}

.Headings {
  font-family: $font_family_avenirblack;
  font-size: $fs_200;
  font-weight: 750;
  line-height: 1.6;
  @include media("<=tablet") {
    font-size: $fs_350;
  }
}

.Contents {
  font-family: $font_family_marcellus;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.1em;

  @include media("<=tablet") {
    font-size: $fs_200;
  }
}

.pink-text {
  background: $grad_pink;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cream-text {
  color: $main_cream;
}

.yellow-text {
  color: $main_yellow;
}

.violet-text {
  color: $main_violet;
}

.green-text {
  color: $main_green;
}

.blue-text {
  color: $main_blue;
}

.yellow-text-sec {
  color: $sec_yellow;
}
.grey-text{
  color: $main_grey;
}

img{
  width: 75%;
}

.r {
  border: 2px solid white;
}

.img-div {
  display: flex;
  justify-content: center;
}

.w-full {
  width: 100%;
}

.btn-shadow {
  box-shadow: 0px 10px 41px -12px $main_pink;
}


.heroimg-div{
  margin: 4em 0;

  @include media("<=tablet"){
    margin: 2em 0;
  }
}
.heroimg{
  width:75%;

  @include media("<=tablet"){
    width: 100%;
  }
}


.bigimg{
  width: 100%;

  @include media("<=768px"){
    width: 80%;
  }
}

.cap{
  text-transform: uppercase;
}


// adjustments for arrow stuf

.dptext{
  text-align: left;
  overflow: visible;
  @include media("<=1000px"){
    text-align: center;
  }
}
.dpflex{
  display: flex;
  gap: 1em;

    .step{
      width: 15%;
      display: flex;
      flex-direction: column;
      gap: 0.1em;
      @include media("<=1000px"){
       width: 100%;
      }
    }
    .arrow{
      width: 5%;
      display: flex;
      justify-content: center;
      margin-top: 1em;
      margin-right: 1em;
      @include media("<=1000px"){
        width: 1.5em;
        transform: rotate(90deg);
        margin: 0;
       }

      svg{
        width: 100%;
      }
    
    }


    @include media("<=1000px"){
      flex-direction: column;
      justify-content: center;
      align-items: center;

  
    }

}

// adjustments for 3 col grid

.wfgrid{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  justify-content: space-around;
  gap: 1em;

  padding: 2em 0 ;

  img{
    width: 56%;
    @include media("<=850px"){
      width: 90%;
    }
  }

  @include media("<=850px"){
    gap: 0.5em;
  }
}



// project1

.project1 {
  padding: $project_padding;
}

.project1_nav {
  margin-top: calc($nav_height + 5em);
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media("<=tablet") {
    margin-top: calc($nav_height + 1em);
    flex-direction: column;
    gap: 1em;
    font-size: $fs_400;
  }
}
.project1_nav button {
  padding: 0.5em 1em;
  font-size: $fs_200;
  font-weight: 400;
  font-family: $font_family_avenir;
  cursor: pointer;
  background: $grad_pink;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-image: $grad_pink;
  border-width: 1.5pt;
  border-image-slice: 1;
  letter-spacing: 0.1em;
}
.project1_nav button.active {
  padding: calc(0.5em + 1.5px) calc(1em + 1.5px);
  color: $mainbg_black;
  background: $grad_pink;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: $mainbg_black;
  background-clip: unset;
  border: none;
  box-shadow: 0px 10px 41px -12px $main_pink;
}


// for the other buttons
.appbtn{
  margin: 2em 0;
  button{
    padding: 0.5em 1em;
    font-size: $fs_150;
  }
  @include media("<=tablet"){
    margin: 0.2em 0;
  }
}


// web version

.project1web{
  
  .img{
    width: 50%;
    @include media("<=tablet"){
      width: 80%;
    }
  
  }


.carousal__img{
        img{ 
          width:50%;
          
          @include media("<=tablet"){
            width: 80%;
          }
        }

    }

}




.project1app{

  .img{
    width: 50%;
    @include media("<=tablet"){
      width: 80%;
    }
  
  }

  .dpimg{
    width: 60%;

    @include media("<=tablet"){
      width: 100%;
    }
  }

  .ufimg{
    width: 80%;
    @include media("<=tablet"){
      width: 100%;
    }
  }


}


// project2


.project2{

  padding: $project_padding;
  margin-top:calc($nav_height + 3em) ;

  .utimg-div{
    display: flex;
    justify-content: flex-start;
    img{
      width: 80%;
      margin-top: 0.5em;
      @include media("<=1024px"){
      
        width: 100%;
      }
    }
    @include media("<=1024px"){
      
    justify-content: center;
    }
  }

  .img{
    width: 60%;
    @include media("<=tablet"){
      width: 80%;
    }
  
  }
  .carousal__img{
    img{ 
      width:60%;
      
      @include media("<=tablet"){
        width: 80%;
      }
    }

}

  .dpflex{
    .step{
      text-align: left;
      @include media("<=1000px"){
        text-align: center;
       }
    }

    .arrow{
      margin-top: 0.5em;
      align-items: flex-start;

      @include media("<=1000px"){
        width: 1.5em;
        transform: rotate(90deg);
        margin: 0;
       }
    }
  }


.bigimg{
  width: 100%;

  @include media("<=768px"){
    width: 80%;
  }
}
  


}


// project4

.project4{
  padding: $project_padding;
  margin-top:calc($nav_height + 3em) ;

 

  .dpflex{


  


    .dptext{
      
      @include media("<=1400px"){
        text-align: center;
       }
    }
    .step{
      @include media("<=1400px"){
        width: 100%;
       }
    }
    .arrow{
      margin-bottom: auto;
      @include media("<=1400px"){
        width: 1.5em;
        transform: rotate(90deg);
        margin: 0;
       }
    }
    @include media("<=1400px"){
      flex-direction: column;
      justify-content: center;
      align-items: center;

  
    }
  }

  .p4wfgrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    img{
        margin: 2em 0;
    }
   

    @include media("<=tablet"){
      grid-template-columns: repeat(2, 1fr);
      padding: 0 4em;

      &  img{
          width:60% ;
      }
    }
    @include media("<=700px"){
      padding: 0 2em;

      &  img{
          width:80% ;
          margin: 1em 0;
      }
    }

  }
}

// project3

.project3{
  padding: $project_padding;
  margin-top:calc($nav_height + 3em) ;

  .ufimg{
    width: 80%;
    @include media("<=tablet"){
      width: 100%;
    }
  }

  .img{
    width: 60%;
    @include media("<=tablet"){
      width: 80%;
    }
  
  }
  .carousal__img{
    img{ 
      width:60%;
      
      @include media("<=tablet"){
        width: 80%;
      }
    }

}



  
}


.nextprojectbtn{
  display: flex;
  justify-content: space-between;
  margin: 4em 0;

  p{
    font-size: $fs_100;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  @include media("<=tablet"){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

.scrolltotopbtn{
  position: fixed;
  inset: auto 2% 2.5em auto;

  button{
    background: none;
    border: none;
    width: 3em;
    @include media('<=tablet'){
      width: 2em;
    }
  }
  svg{
    width: 100%;
  }

  @include media('<=tablet'){
    inset: auto 1% 2.5em auto;
  }

}